@page  "/application"

    <H1>Application Editor</H1>

    <table>
        <thead><tr><th>Application</th><th>Description</th></tr></thead>
        <tr>
            <td>@myApplication.Name</td>
            <td> <input id=Description bind=@myApplication.Description/></td>
        </tr>
    </table>
<H1 >The description is =  @myApplication.Description</H1>
<button onclick="@(e => Console.WriteLine("Hello, world!"))">Say hello</button>

@functions
{
    ApplicationData myApplication = new ApplicationData()
    {
        Name = "My Second Application",
        Description = "This should be enough of a description"
    };

    class ApplicationData
{

        public string Name { get; set; }
        public string Description { get; set; }

    }
}